
## Imports
##

importFrom(rioja, chclust, bstick, figCnvt)

importFrom(sjmisc, word_wrap)

importFrom(stringr, str_trim)

importFrom(dplyr, left_join)

importFrom(methods, is)

importFrom(forcats, fct_explicit_na)

importFrom("grDevices", "col2rgb", "rgb", "dev.size")

import(graphics)
import(stats)
import(utils)

## export regular functions with dot names
export(riojaPlot, addRPZone, addRPClustZone, 
       addRPClust, addRPZoneNames, 
       listStyles, makeStyles)

